# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# build / dist
dist/
build/
coverage/

# env
.env
.env.local
.env.*.local

# editor / OS files
.vscode/
.DS_Store
Thumbs.db

# logs
logs/
*.log

# others
.idea/
